ECOFLOW_POSTGRES_CONNECTION=Host=/var/run/postgresql;Database=ecoflow_energy;Username=user
ECOFLOW_WEB_URLS=http://127.0.0.1:5080
ECOFLOW_SETTINGS_PATH=/home/user/.local/share/ecoflow-energy-manager/settings.json
